/.vs
/RahulTest.Core/bin/Debug/netcoreapp3.1
/RahulTest.Core/obj
/RahulTest.Infrastructure/bin/Debug/netcoreapp3.1
/RahulTest.Infrastructure/obj
/RahulTest.Web/obj
/RahulTest.Web/bin/Debug/netcoreapp3.1
/RahulTest.Web/Properties
/RahulTest.Common/bin/Debug/netcoreapp3.1
/RahulTest.Common/obj/Debug/netcoreapp3.1
/RahulTest.Common/obj
/RahulTest.Domain.EF.Core/bin/Debug/netcoreapp3.1
/RahulTest.Domain.EF.Core/obj
/RahulTest.Domain.EF.Repositories/bin/Debug/netcoreapp3.1
/RahulTest.Domain.EF.Repositories/obj
